/* GENERAL LAYOUT */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer {
    flex: 0 auto;
    height: 35px;
    background-color: #1F2937;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}


/* HEADER SPECIFICS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.logo {
    margin: 0;
    padding: 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.header a {
    text-decoration: none;
    color: white;
}

/* FOOTER SPECIFICS */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}